<p>Hi,</p>

<p> You got new message from <b><%= @message.name %></b>. Message details are following </p>

<p>Email: <%= @message.email %></p>

<p>Subject: <%= @message.subject %></p>

<p>Message: </p>

<p><%= @message.text %></p>
