<!-- About -->
<div id="services" class="section md-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Section header -->
      <div class="section-header text-center">
        <h2 class="title">Services</h2>
      </div>
      <!-- /Section header -->

      <div class="col-md-4">
        <div class="about">
          <i class="fa fa-globe"></i>
          <h3>Web Development</h3>
          <p>
            Our web development team is proficient in using Ruby on Rails, Elixir, Phoenix, and Javascript.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="about">
          <i class="fa fa-mobile"></i>
          <h3>Mobile Development</h3>
          <p>
            Our mobile development team specializes in developing native mobile apps for iOS and android.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="about">
          <i class="fa fa-tasks"></i>
          <h3>Project Management</h3>
          <p>
            Dedicated project managers to oversee all facets of Software Development Life Cycle for you.
          </p>
        </div>
      </div>
    </div>
    <!-- /Row -->
  </div>
  <!-- /Container -->
</div>
