.form-content
  background: white
  border-radius: 7px

  .email-field
    height: 70px
    width: 100%
    color: #354052
    padding: 0px 10px
    opacity: 0.5
    outline: none
    border-radius: 11px
    background: white
    font-size: 18px
    border: 0px

  .email-div
    padding-left: 45px
    padding-top: 10px
    padding-bottom: 10px

  .btn-div
    padding-bottom: 15px

@media screen and (max-width: 992px)
  .form-content
    background: none

    .email-field
      text-align: center
      height: 50px

    .email-div
      padding-left: 10px
      padding-right: 10px

  #error
    margin-top: -162px !important
    padding-left: 41%

#home
  background-color: #FAFAFA

  .enquiry-message
    background-color: #FAFAFA
    font-size: 20px

#numbers
  .img-back2
    background-image: url('numbers-image.jpg')

#about
  background-color: #FAFAFA
  a
    color: #008489

#contact
  background-color: #FAFAFA

.invalid-feedback
  color: red
  float: left
  margin-top: -23px

.mt-20
  margin-top: 20px

#error
  float: left
  margin-top: 5px
  margin-left: 8px
  color: red
  font-familty: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif

.modal-body
  background-color: #FAFAFA


#project-description
  a
    color: #008489

  #goback-link
    margin-top: 59px

.enquiry-form
  input
    margin-bottom: 15px

  label
    margin-bottom: 11px
    margin-left: 6px

  .modal-title
    text-align: center
    font-size: 29px
    font-weight: bold
    color: #6195FF

  .modal-subtitle
    margin-top: 7px
    font-size: 16px
    text-align: center

  .section-title
    text-align: center
    font-size: 25px
    margin-bottom: 13px
    margin-top: 10px

  .project_type
    border: 1px solid darkgray
    padding-bottom: 4px
    padding-top: 4px
    padding-left: 21px
    padding-right: 21px
    border-radius: 8px

  .services_type
    border: 1px solid darkgray
    padding-bottom: 4px
    padding-top: 4px
    padding-left: 21px
    padding-right: 21px
    border-radius: 8px

  .modal-fields
    margin: 11px

  .modal-dialog
    width: 733px
    margin: 30px auto

  .button-on-click
    background-color: #6195FF
    color: #fff

  .send-button
    background: #6195FF
    color: white
    width: 400px
    padding-top: 10px
    padding-bottom: 13px
    border-radius: 12px
    margin-top: 13px
    font-size: 17px

  .send-button-div
    text-align: center

  .close
    float: right
    font-size: 32px
    font-weight: 700
    line-height: 1
    color: red
    filter: alpha(opacity=20)
    opacity: 0.4
