<div id="project-description" class="section md-padding bg-grey">
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div class="row">
      <!-- why choose us content -->
      <div class="col-md-6">
        <div class="section-header">
          <h2 class="title"><%= @portfolio_item.title %></h2>
        </div>
        <p id="description"><%= @portfolio_item.description %></p>
        <p id="goback-link">
          <%= link_to root_path do %>
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back
          <% end %>
        </p>
      </div>
      <!-- /why choose us content -->

      <!-- About slider -->
      <div class="col-md-6">
        <div id="project-image-slider" class="owl-carousel owl-theme">
          <% @portfolio_item.images.each do |image| %>
            <%= image_tag image, class: "img-responsive" %>
          <% end %>
        </div>
      </div>
      <!-- /About slider -->
    </div>
    <!-- /Row -->
  </div>
  <!-- /Container -->
</div>
