<div class="modal-body">
  <%= f.email_field :email, class: "input", id: "user_email", placeholder: "Email", required: true %>
  <%= f.text_field :project_title, class: "input", placeholder: "Project Title", required: true %>
  <%= f.number_field :project_budget, class: "input mt-20", placeholder: "Project Budget", required: true %>
  <%= f.text_area  :project_description, class: "input mt-20", placeholder: "Project Description", required: true %>
</div>
